<!DOCTYPE html>
<html>
<head>
  <title>Ben Doane</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!-- NAVIGATION -->
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <!-- MY NAME -->
        <div class="navbar-brand">
          <div class="dark-logo" width="95">
            <%=link_to "Ben Doane", root_url%>
          </div>
        </div>
        <!--/MY NAME -->
        <!-- COLLAPSING NAV BUTTON -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--/COLLAPSING NAV BUTTON -->
      </div>

      <div class="collapse navbar-collapse" id="custom-collapse">
        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="" data-toggle="dropdown">Portfolio</a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown">
                  <%=link_to "All the Swing Dancing", "http://www.alltheswingdancing.com"%>
                </li>
                <li class="dropdown">
                  <%=link_to "Todoodles", "https://salty-journey-3187.herokuapp.com/"%>
                </li>
                <li class="dropdown">
                  <%=link_to "Github", "https://github.com/bendoane"%>
                </li>
              </ul>
          </li>
          <li class="dropdown">
            <a href="" data-toggle="dropdown">Blog</a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown">
                  <%=link_to "Building Codes to Building Code", "http://uptobuildingcode.blogspot.com/"%>
                </li>
              </ul>
          </li>
          <li class="dropdown">
            <a href="" data-toggle="dropdown">Contact</a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown">
                  <a href="mailto:ben.doane@gamil.com"data-toggle="dropdown">ben.doane@gmail.com</a>
                </li>
                <li class="dropdown">
                  <a data-toggle="dropdown">Ph. 812-499-1621</a>
                </li>
                <li class="dropdown">
                  <%=link_to "Linked In", "https://www.linkedin.com/in/ben-doane-b9040348"%>
                </li>
                <li class="dropdown">
                  <%=link_to "Resume", resume_path%>
                </li>
              </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- /NAVIGATION -->
<%= yield %>

</body>
</html>
